/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/*
 * main styles
 */
.wrapper{
	width: 640px;
	min-height: 1008px;
	background-image: url('../image/bg.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	background-position:0 0;
}
#index{
	.nav{
		width: 100%;
		height: 70px;
		position: absolute;
		top: 0;
		li{
				width: 50%;
				height: 70px;
				float: left;
				position: relative;
				.P_bg{
					background-size: 132px auto;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: #116788;
				}
				&:first-of-type{
					background-image: url('../image/tit1.png');
					cursor: pointer;
					.P_bg;
				}
				&:last-of-type{
					background-image: url('../image/tit2.png');
					cursor: pointer;
					.P_bg;
				}
				&.action{
					background-color: #258FB6;
					
				}
				&.action:after{
					content: '';
					display: block;
					width: 28px;
					height: 28px;
					position:absolute;
					top: 22px;
					right: 56px;
					background-image: url('../image/top_icon.png');
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 27px auto;
				}
			}
	}
	.title{
		width: 328px;
		height: 75px;
		position: absolute;
		top: 100px;
		left: 50%;
		margin-left: -164px;
		background-image: url('../image/title.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
	}
	.info{
		width: 100%;
		height: 800px;
		position: absolute;
		top: 180px;
		left: 0px;
		.bdBtn{
			width: 282px;
			height: 80px;
			position: absolute;
			top: 0px;
			left: 34px;
			background-image: url('../image/top_btn1.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			cursor: pointer;
		}
		.mdBtn{
			width: 282px;
			height: 74px;
			top: 0px;
			right: 34px;
			position: absolute;
			background-image: url('../image/top_btn2.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			cursor: pointer;
		}
		.centBox{
			width: 602px;
			height: 644px;
			top: 80px;
			left: 20px;
			padding:50px 30px 20px 30px;
			position: absolute;
			background-image: url('../image/info_bg.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			hr{
				border-top: 1px dashed #FFFFFF;
			}
			.rw .tit, .sj .tit,.rw .cent, .sj .cent, .js .tit{
				
				color: #FFFFFF;
				font-family: 'Microsoft Yahei';
				font-size: 30px;
			}
			.rw .tit, .sj .tit{
				padding-left: 80px;
			}
			.rw{
				margin-bottom: 10px;
			}
			.sj{
				margin-bottom: 20px;
			}
			.rw .tit{
				background-image: url('../image/icon_1.png');
				background-repeat: no-repeat;
				background-size: 30px auto;
				background-position: 36px 6px;
			}
			.sj .tit{
				background-image: url('../image/icon_2.png');
				background-repeat: no-repeat;
				background-size: 30px auto;
				background-position: 36px 6px;
			}
			.js .tit{
				padding-left: 200px;
				padding-right: 200px;
				background-image: url('../image/icon_3.png');
				background-repeat: no-repeat;
				background-size: 30px auto;
				background-position: 150px 6px;
			}
			.js .cent{
				width: 100%;
				height: 420px;
				position: absolute;
				bottom: 0px;
				display: block;
				left: 0px;
			}
		}
		.yxgzBtn{
			width: 286px;
			height: 72px;
			position: absolute;
			bottom: 0px;
			left: 30px;
			background-color: #258FB6;
			background-image: url('../image/bt_btn1.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 221px auto;
			border-radius: 14px;
			cursor: pointer;
		}
		.lqrwBtn{
			width: 286px;
			height: 72px;
			position: absolute;
			bottom: 0px;
			right: 30px;
			background-color: #FFA400;
			background-image: url('../image/bt_btn2.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 221px auto;
			border-radius: 14px;
			cursor: pointer;
		}
	}
}

/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}