/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

/* We like off-black for text. */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/*
 * main styles
 */
.wrapper{
	width: 640px;
	top:0px;
	bottom: 0px;
	position: absolute;
	overflow: hidden;
	font-family: 'Microsoft Yahei';
	&>.scroll{
		width: 100%;
		min-height: 1008px;
		background-image: url('../image/bg.png');
		background-repeat: no-repeat;
		background-size: 640px auto;
		background-attachment: fixed;
		background-position:0 0;
		position: absolute;
		top: 0px;
	}
}
#index{
	.nav{
		width: 100%;
		height: 70px;
		position: absolute;
		top: 0;
		li{
				width: 50%;
				height: 70px;
				float: left;
				position: relative;
				.P_bg{
					background-size: 132px auto;
					background-repeat: no-repeat;
					background-position: center center;
					background-color: #116788;
				}
				&:first-of-type{
					background-image: url('../image/tit1.png');
					cursor: pointer;
					.P_bg;
				}
				&:last-of-type{
					background-image: url('../image/tit2.png');
					cursor: pointer;
					.P_bg;
				}
				&.action{
					background-color: #258FB6;
					
				}
				&.action:after{
					content: '';
					display: block;
					width: 28px;
					height: 28px;
					position:absolute;
					top: 22px;
					right: 56px;
					background-image: url('../image/top_icon.png');
					background-repeat: no-repeat;
					background-position: center center;
					background-size: 27px auto;
				}
			}
	}
	.title{
		width: 328px;
		height: 75px;
		position: absolute;
		top: 100px;
		left: 50%;
		margin-left: -164px;
		background-image: url('../image/title.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
	}
	.info{
		width: 100%;
		height: 800px;
		position: absolute;
		top: 180px;
		left: 0px;
		.bdBtn{
			width: 282px;
			height: 80px;
			position: absolute;
			top: 0px;
			left: 34px;
			background-image: url('../image/top_btn1.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			cursor: pointer;
		}
		.mdBtn{
			width: 282px;
			height: 74px;
			top: 0px;
			right: 34px;
			position: absolute;
			background-image: url('../image/top_btn2.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			cursor: pointer;
		}
		.centBox{
			width: 602px;
			height: 644px;
			top: 80px;
			left: 20px;
			padding:50px 30px 20px 30px;
			position: absolute;
			background-image: url('../image/info_bg.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% auto;
			hr{
				border-top: 1px dashed #FFFFFF;
			}
			.rw .tit, .sj .tit,.rw .cent, .sj .cent, .js .tit{
				color: #FFFFFF;
				font-size: 30px;
			}
			.rw .tit, .sj .tit{
				padding-left: 80px;
			}
			.rw{
				margin-bottom: 10px;
			}
			.sj{
				margin-bottom: 20px;
			}
			.rw .tit{
				background-image: url('../image/icon_1.png');
				background-repeat: no-repeat;
				background-size: 30px auto;
				background-position: 36px 6px;
			}
			.sj .tit{
				background-image: url('../image/icon_2.png');
				background-repeat: no-repeat;
				background-size: 30px auto;
				background-position: 36px 6px;
			}
			.js .tit{
				padding-left: 200px;
				padding-right: 200px;
				background-image: url('../image/icon_3.png');
				background-repeat: no-repeat;
				background-size: 30px auto;
				background-position: 150px 6px;
			}
			.js .cent{
				width: 100%;
				height: 420px;
				position: absolute;
				bottom: 0px;
				display: block;
				left: 0px;
			}
		}
		.yxgzBtn{
			width: 286px;
			height: 72px;
			position: absolute;
			bottom: 0px;
			left: 30px;
			background-color: #258FB6;
			background-image: url('../image/bt_btn1.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 221px auto;
			border-radius: 14px;
			cursor: pointer;
		}
		.lqrwBtn{
			width: 286px;
			height: 72px;
			position: absolute;
			bottom: 0px;
			right: 30px;
			background-color: #FFA400;
			background-image: url('../image/bt_btn2.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 221px auto;
			border-radius: 14px;
			cursor: pointer;
		}
	}
	
}
#pop{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
	&>.scroll{
		position: absolute;
		width: 100%;
		min-height: 1008px;
		z-index: 1;
	}
	.popBg{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: #000000;
		opacity: 0.8;
		z-index: 0;
	}
	.popHdxq{
		position: absolute;
		width: 640px;
		height: 840px;
		background-image: url('../image/pop_box.png');
		display: none;
		
	}
	.popHdxqX{
		position: absolute;
		bottom: 57px;
		left: 40px;
		width: 556px;
		height: 78px;
		cursor: pointer;
	}
}
#regmobile{
	.pgTop{
		height: 70px;
		color: #FFFFFF;
		font-size: 30px;
		line-height: 70px;
		text-align:center;
		background-color: #258FB6;
		background-image: url('../image/icon_4.png');
		background-repeat: no-repeat;
		background-size: 25px auto;
		background-position:210px 12px;
	}
	.title{
		margin-top: 58px;
		color: #FFFFFF;
		font-size: 30px;
		text-align:center;
	}
	#updata{
		width: 100%;
		height: 350px;
		margin-top: 40px;
		position: relative;
		input{
			color: #FFFFFF;
			font-size: 30px;
			line-height: 70px;
			padding-left: 30px;
			height: 70px;
			border: 4px solid #D1E3EA;
			border-radius: 8px;
			outline: none;
			background-color: #258FB6;
			background-color: rgba(37, 143, 182, 0.8);
		}
		input.noTip{
			color: #5F9BB6;
		}
		.mobile{
			width: 572px;
			position: absolute;
			top: 0px;
			left: 34px;
		}
		.code{
			width: 330px;
			position: absolute;
			top: 110px;
			left: 34px;
		}
		.subCode{
			width: 220px;
			height: 74px;
			border: none;
			color: #FFFFFF;
			font-size: 30px;
			background-color: #258FB6;
			border-radius: 8px;
			position: absolute;
			top: 110px;
			left: 380px;
			outline: none;
		}
		.subAll{
			width: 574px;
			height: 74px;
			border: none;
			color: #FFFFFF;
			font-size: 30px;
			font-weight: bold;
			background-color: #FFA400;
			border-radius: 8px;
			position: absolute;
			bottom: 0px;
			left: 34px;
			outline: none;
		}
	}
}
#upload{
	#topText{
		width: 572px;
		height: 242px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 48px;
		border-radius: 8px;
		background-color: #CCD9DF;
		&:after{
			content: '';
			display: block;
			width: 114px;
			height: 114px;
			position: absolute;
			top: -4px;
			left: -4px;
			background-image: url('../image/icon_7.png');
			background-repeat: no-repeat;
			background-size: 114px auto;
		}
		.tit{
			padding-left: 60px;
			text-align: center;
			background-image: url('../image/icon_5.png');
			background-repeat: no-repeat;
			background-size: 28px auto;
			background-position: 130px 10px;
			position: relative;
			font-size: 32px;
			font-weight: bold;
			color: #116788;
			letter-spacing: 4px;
		}
		.cent{
			width: 478px;
			height: 160px;
			position: absolute;
			top: 50px;
			left: 50px;
			border: none;
			outline: none;
			background: none;
			font-size: 26px;
			color: #116788;
			text-indent: 40px;
		}
	}
	#upImg{
		width: 100%;
		margin-top: 24px;
		font-size: 30px;
		color: #FFFFFF;
		line-height: 70px;
		text-align: center;
		.control{
			width: 574px;
			height: 72px;
			margin: 0 auto;
			.btn{
				width: 284px;
				height: 100%;
				background-color: #258FB6;
				border-radius: 8px;
				letter-spacing: 4px;
				padding-right: 40px;
				background-repeat: no-repeat;
				cursor: pointer;
				}
			.add{
				float: left;
				background-image: url('../image/icon_add.png');
				background-size: 26px;
				background-position: 200px 22px;
			}
			.del{
				float: right;
				background-image: url('../image/icon_del.png');
				background-size: 26px;
				background-position: 200px 30px;
			}
			.subImg{
				display: none;
			}
		}
		.imgList{
			width: 574px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			ul{
				display: inline-block;
				text-align: left;
			}
			li{
				width: 136px;
				height: 136px;
				display: block;
				float: left;
				margin-left: 22px;
				margin-right: 22px;
				margin-top: 10px;
				margin-bottom: 10px;
				border: 4px solid #7ED1F0;
				border-radius: 8px;
				background-position: 50% 50%;
				background-size: 110% auto;
				background-repeat: no-repeat;
			}
		}
	}
}


/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}